<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">사용법 안내</div>
                <div class="modal-body slim">
                    <div id="instructions">
					원하는 동작을 누른 상태에서 클릭하여 작동 방식을 변경할 수 있습니다.
                    <p><p>
					<b>데미지 창: (오른쪽)</b>
                    <br>
                    <ul>
  						<li><tt>마우스 가운데 버튼 클릭</tt>: 미스 → 빗나감 → 굿 → 그레이트 → 퍼펙트 순으로 변경</li>
                        <li><tt>CTRL + 클릭</tt>: 미스 → 빗나감 → 굿 → 그레이트 → 퍼펙트 순으로 변경</li>
                        <li><tt>SHIFT + 클릭</tt>: 적의 속성을 변경 (단일 대상)</li>
                        <li><tt>Drag & Drop</tt>: 공격 순서 변경</li>
						<li><tt>배경 더블 클릭</tt>: 다크 모드 켜기/끄기</li>
                    </ul>
                    <br>
                    <b>선장/선원 선택 창: (중앙 영역)</b>
                    <ul>
						<li><tt>마우스 가운데 버튼 클릭</tt>: 미스 → 빗나감 → 굿 → 그레이트 → 퍼펙트 순으로 변경</li>
                        <li><tt>CTRL + 클릭</tt>: 슬롯 일치 → 반대 → 없음 (슬롯을 클릭해도 변경 가능)</li>
                        <li><tt>SHIFT + 클릭</tt>: 선장효과 무효 상태로 만듬</li>
                        <li><tt>ALT + 클릭</tt>: 선장/선원 봉쇄</li>
                        <li><tt>SHIFT + ALT + 클릭</tt>: 선장 및 선원 비활성화</li>
                        <li><tt>Drag & Drop</tt>: 선장/선원 위치 변경</li>
						<li><tt>레벨 클릭</tt>: 레벨설정창 열기</li>
						<li><tt>레벨 마우스 가운데 버튼 클릭</tt>: 선장/선원을 최대 레벨로 설정</li>

                    </ul>
                    <br>
                    <b>선박 메뉴설정: (설정 메뉴 하단)</b>
                    <ul>
                       <li><tt>CTRL + 클릭</tt>: 선박 선택 창 열기</li> 
                    </ul>
                    <br>
                    <b>적 방어력: (설정 메뉴 하단)</b>
                    <ul>
                       <li><tt>CTRL + 클릭</tt>: 방어력 선택창 열기</li> 
                    </ul>
                    <br>
                    <b>스텟 창: (선장/선원 창 아래)</b>
                    <ul>
                        <li><tt>슬라이더 드래그</tt>: 체력 비율 조절</li>
                        <li><tt>마우스 왼쪽 버튼 클릭 or 체력 클릭</tt>: HP 수치 또는 % 직접 입력</li>
                    </ul>
                </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ui-sref="^">돌아가기</button> 
                </div>
            </div>
        </div>
    </div>

</div>
