<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">사용 방법</div>
                    <div class="modal-body slim">
                        <div id="instructions">
                            계산기 사용 방법:
                            <br>
                            <ol>
                                <li>스킬 LV업 또는 능력소켓을 적용할 캐릭터를 선택하세요</li>
                                <li>해당 캐릭터에 이미 적용된 능력소켓을 입력하세요</li>
                                <ul>
                                    <li>능력소켓을 클릭하면 레벨을 변경할 수 있습니다</li>
                                </ul>
                                <li>보유한 해당 캐릭터의 스킬 책 또는 동일 캐릭터 수를 입력하세요</li>
                                <li>필요한 스킬 LV 업 개수를 입력하세요</li>
                                <ul>
                                    <li>필살기 레벨 확률 증가 이벤트 중의 확률을 계산하고 싶다면,<br> 해당 체크박스를 선택하세요</li>
                                </ul>
                                <li>계산하고자 하는 항목에 대해 ‘계산’ 버튼을 누르세요</li>
                                <li>확률이 너무 낮으면 구석에서 울어도 괜찮아요(진짜 번역이 이렇다)</li>
                            </ol>

                       
                           <b>주의사항:</b><br><tt>이 계산기는 커뮤니티가 수집한 평균값 기반의 확률 계산 도구입니다. <br>미호크를 충분히 파밍하지 않아 실패해도 저희를 원망하지 말아주세요..(???) <br>저희를 탓하고 싶다면 먼저 확률이 어떻게 작동하는지 공부해보세요</tt>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ui-sref="^">돌아가기</button> 
                </div>
            </div>
        </div>
    </div>

</div>
