<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">계산기에서 현재 설정한 팀을 복사합니다</div>
                <div class="modal-body slim">
                    정말 복사하시겠습니까? 현재 설정이 삭제됩니다
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="copyCurrentCalcTeam()">네</button> 
                    <button class="btn btn-primary" ui-sref="^">아니요</button> 
                </div>
            </div>
        </div>
    </div>

</div>
