<div class="backdrop" ui-sref="^"></div>

<div class="inner-container" go-back>

    <div class="custom-modal">
        <div id="picker" class="modal-dialog">
            <div class="modal-content animated fadeInDown">
                <div class="modal-header">초기화</div>
                <div class="modal-body slim">
                    정말 초기화하시겠습니까? 되돌릴 수 없습니다.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="resetStorage()">네</button> 
                    <button class="btn btn-primary" ui-sref="^">아니요</button> 
                </div>
            </div>
        </div>
    </div>

</div>
